---
layout: default
title: About James Peret
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>James Peret</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              Designer, programmer and photographer
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>I'm is a developer, filmmaker and entrepreneur from São Paulo, Brazil, currently living in Berlin. I have co-founded several startups, worked on many software projects, created more than a hundred videos and developed two video game titles. I have a passion for creating new products and ideias that is my main driver for working hard on each project. I have an enphasis in understanding bussiness requirements and comming up with great solutions for each problem.</p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
